.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-input {
    margin-left: 150px;
    width: 250px;
}
.adjacent {
    display: flex;
    align-items: center;
}
.padding{
    padding:20px;
}
.right-nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* .table-style {
    background-color: rgb(145, 201, 120);
    color: black;
} */